@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
.card-w {
  width: 520px;
  height: 240px;
  background: #FFFFFF;
  box-shadow: 0px 6px 10px rgba(85, 85, 85, 0.1);
  border-radius: 14px;
  display: flex;
  text-align: left;
}
.card-w_article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 40px 20px;
}
.card-w_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: #2D2D2D;
  padding: 20px 0 20px 0px;
}
.card-w_subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 138.02%;
  color: #7A7A7A;
  padding: 15px 0 0 20px;
}
.card-w_date {
  padding: 30px 20px 35px 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100.02%;
  text-align: left;
}
.card-w_date p {
  color: #B1B1B1;
}
.card-w_date a {
  color: #F8B07C;
}

.nav {
  z-index: 1;
  width: 100%;
  padding: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-menu {
  gap: 30px;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  color: #7A7A7A;
}

.nav-menu_item {
  transition: 150ms;
}
.nav-menu_item:hover {
  color: #F8B07C;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F7F5FA;
}
.header .main {
  display: flex;
  margin: 0 5%;
  padding: 40px;
  gap: 30px;
  border-radius: 15px;
  background-color: #FFFFFF;
  box-shadow: 0px 6px 10px rgba(85, 85, 85, 0.1);
}
.header .main-article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  width: 550px;
  padding-left: 35px;
}
.header .main-article_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 48px;
}
.header .main-article_subtitle {
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  padding-right: 100px;
  color: #7A7A7A;
}
.header .main-article_date {
  color: #B1B1B1;
}
.header .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10%;
}
.header .cards-menu1, .header .cards-menu2, .header .cards-menu3 {
  display: flex;
  gap: 50px;
}
.header .cards-menu1, .header .cards-menu2, .header .cards-menu3 {
  padding-bottom: 5%;
}
.header .cards-menu1:last-child, .header .cards-menu2:last-child, .header .cards-menu3:last-child {
  padding-bottom: 0;
}

.footer {
  width: 100%;
  padding: 70px;
  background: #2D2D2D;
  display: flex;
  justify-content: space-evenly;
  text-align: left;
}
.footer-social {
  text-align: left;
}
.footer-social_title {
  padding-bottom: 30px;
  color: white;
  font-weight: 500;
  font-size: 24px;
  line-height: 100.02%;
}
.footer-social_icons_item {
  padding: 15px;
}
.footer-navigate_title {
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 24px;
  line-height: 100.02%;
  color: white;
}
.footer-navigate_link {
  display: flex;
  gap: 70px;
}
.footer-navigate_menu_items {
  padding-bottom: 14px;
  color: #7A7A7A;
  font-size: 16px;
}
.footer-location {
  color: #7A7A7A;
}
.footer-location_title {
  color: white;
}
.footer-location_items_locate {
  display: flex;
  padding: 18px 0;
  font-size: 16px;
}
.footer-location_number {
  display: flex;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}/*# sourceMappingURL=settings.css.map */